* {
    box-sizing: border-box;
  }
  
  /* Container for flexboxes */
  .myflexboxRow {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal entries in myflexbox */
  .myflexboxColumn {
    flex: 25%;
    padding: 20px;
  }
  
  /* Media query - on screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .myflexboxColumn {
      flex: 50%;
    }
  }
  
  /* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
  }

    /* Container for flexboxes */
    .myflexboxRow2 {
      display: flex;
      flex-wrap: wrap;
    }
    
    /* Create four equal entries in myflexbox */
    .myflexboxColumn2 {
      flex: 30%;
      padding: 10px;
    }
    
    /* Media query - on screens that are 992px wide or less, go from four columns to two columns */
    @media screen and (max-width: 992px) {
      .myflexboxColumn2 {
        flex: 50%;
      }
    }
    
    /* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .myflexboxRow2 {
        flex-direction: column;
      }
    }
  
 /* Container for flexboxes */
 .myflexboxRow3 {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal entries in myflexbox */
.myflexboxColumn3 {
  flex: 30%;
  padding: 10px;
}

/* Media query - on screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .myflexboxColumn3 {
    flex: 30%;
  }
}

/* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .myflexboxRow3 {
    flex-direction: column;
  }
}
  

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
 
}
h1 {
  text-align: center;
  font-weight: bolder;
  color:green;
}

p {
  font-weight: bolder;
  color:green;
}

p1 {
  font-weight: bolder;
  color:green;
  font:italic, bold;

}